body {
  background-color: #181a1b;
  color: #d1cdc7;
  margin-top: 50px;
  text-align: center;
}

form {
  align-items: center;
	display: flex;
  justify-content: center;
  margin-top: 24px;
}

#guessInput {
  border-radius: .25rem;
  padding: 5px 5px 5px 5px;
}

#prevGuessesMsg {
  font-size: 24px;
  margin-top: 24px;
}

#prevGuesses {
  font-size: 20px;
  margin-top: 16px;
}

#guessButton,
#resetButton {
  margin-left: 24px;
}

.high {
  color: #ffb04b;
}

.low {
  color:#00a7f7;
}

.winner {
  color: #98d174;
}

.error {
  color: #f13814;
}